<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "ABOUT" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="operator">
  
  <div class="about-header" *ngIf="image != null">
	<img src="data:image/jpeg;base64,{{image.file}}" alt="{{operator.name}}" *ngIf="image.file != null">
  </div>
  <div padding class="about-info">
    <h1>{{operator.name}}</h1>
    <p style="white-space: pre-wrap;">{{operator.description}}</p>
  </div>
  
  <ion-fab right bottom *ngIf="account.role === 'manager' || account.role === 'admin'">
    <button ion-fab color="dark" (click)="goToAboutEdit()"><ion-icon name="create"></ion-icon></button>
  </ion-fab>

</ion-content>
