<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "ALERTS" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content post-list">
<ion-grid>
<ion-row>
	<ion-col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 *ngFor="let alert of alerts">
  <ion-card class="post-card">
	<button ion-item detail-none (click)="goToAlertDetail({id: alert.id})">
	<ion-card-title>
        <h1>{{alert.poubelle}}</h1>
    </ion-card-title>
	<ion-card-content>
		{{ alert.message | slice:0:250 }}{{ alert.message.length > 250 ? '...' : '' }}
	</ion-card-content>
    </button>
    <ion-row no-padding>
      <ion-col text-left>
        <button ion-button clear small color="primary" icon-left (click)="goToAlertDetail({id: alert.id})">
          <ion-icon name='arrow-forward'></ion-icon>
         {{ "DETAILS" | translate }}
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
  </ion-col>
  </ion-row>
  </ion-grid>
  
  <ion-fab right bottom *ngIf="account.role === 'regUser' || account.role === 'manager' || account.role === 'admin'">
    <button ion-fab color="dark" (click)="goToAlertScanner()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  
</ion-content>
